name: Compatibility test

on: [pull_request]

jobs:
  build:
    if: github.base_ref == github.event.repository.default_branch
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install package
      run: |
        python -m pip install --upgrade pip
        pip install -e .[test]
    - name: Test with unittest
      run: |
        python -m unittest discover -s tests
